# Ignore Win and OSX files
*.asv
.DS_Store
.DS_Store?
*.bak

# Ignore Inventor backup directory
[Oo]ld[Vv]ersions/

# Ignore lockfile
*.lck

# Ignore vim backups
*~

# Ignore Autocad temp files
*.dwl
*.dwl2
